<footer class="footer">
	<div class="container">
		<div class="upper-footer">
			<div class="topics-item">
				<h3 class="title-decor">Research Topics</h3>
				<div class="footer-column">
					<div class="item">
						<ul class="footer-list">
							<li><a href="#">Agile & Lean UX </a></li>
							<li><a href="#">Application Design </a></li>
							<li><a href="#">Design Process </a></li>
							<li><a href="#">Ecommerce Design </a></li>
							<li><a href="#">Eyetracking Human</a></li>
							<li><a href="#">Computer Interaction </a></li>
							<li><a href="#">Information</a></li>
							<li><a href="#">Architecture </a></li>
							<li><a href="#">Interaction Design</a></li>
						</ul>
					</div>
					<div class="item">
						<ul class="footer-list">
							<li><a href="#">Intranet Design </a></li>
							<li><a href="#">Mobile and Tablet </a></li>
							<li><a href="#">Design Persuasive </a></li>
							<li><a href="#">Design Research</a></li>
							<li><a href="#">Methods User Testing </a></li>
							<li><a href="#">UX Teams Web</a></li>
							<li><a href="#">Usability Web Writing & Content Strategy</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="about-item">
				<h3 class="title-decor">About</h3>
				<ul class="footer-list">
					<li><a href="#">Contact Information</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Research Tools</a></li>
					<li><a href="#">Articles</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="follow-item">
				<h3 class="title-decor">Follow Us</h3>
				<ul class="social-links">
					<li>
						<a href="#" class="subscribe-link" target="_blank">
							<svg width="26" height="19" class="ico">
								<use xlink:href="assets/img/sprite-icons.svg#letter" />
							</svg>
							<span>Subscribe to our Newsletter</span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<svg width="26" height="22" class="ico">
								<use xlink:href="assets/img/sprite-icons.svg#twitter" />
							</svg>
							<span>Follow us on Twitter</span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<svg width="28" height="26" class="ico">
								<use xlink:href="assets/img/sprite-icons.svg#linkedin" />
							</svg>
							<span>Let’s Connect on LinkedIn</span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<svg width="32" height="22" class="ico">
								<use xlink:href="assets/img/sprite-icons.svg#youtube" />
							</svg>
							<span>Subscribe to our YouTube Channel</span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<svg width="21" height="27" class="ico">
								<use xlink:href="assets/img/sprite-icons.svg#pinterest" />
							</svg>
							<span>Follow our Market Research Boards</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="under-footer">
			<ul class="company-list">
				<li>
					<a href="#">
						<img src="assets/img/company-img-02.png" alt="image description">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="assets/img/company-img-01.png" alt="image description">
					</a>
				</li>
			</ul>
			<div class="copy">
				<p>© 2019 Relevant Insights. All rights & content reserved.</p>
				<p>Dallas WordPress Development: <a href="#">Web Loft Designs</a></p>
			</div>
		</div>
	</div>
</footer>