<header class="header">
	<div class="container">
		<a class="burger" href="#"><span>Menu</span></a>
		<div class="top-header">
			<div class="logo">
				<a href="#">
					<img src="assets/img/logo.png" alt="image description">
				</a>
			</div>
			<div class="header-holder">
				<a href="#" class="btn-login">
					<svg width="15" height="15" class="ico">
						<use xlink:href="assets/img/sprite-icons.svg#login" />
					</svg>
					<span>Login to Survey Tool Review Center</span>
				</a>
				<form action="#" class="search-form">
					<fieldset>
						<div class="input-form">
							<input type="search">
							<button class="btn-search">Search</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="menu-holder">
			<nav class="nav">
				<ul class="nav-list">
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li class="has-drop">
						<a href="#">Research Services</a>
						<ul class="drop-menu">
							<li><a href="#">Brand Experience & Advertising Research</a></li>
							<li><a href="#">Customer Experience & User Research (UX)</a></li>
							<li><a href="#">Market Segmentation & Customer Research</a></li>
							<li><a href="#">Product Development & Price Research</a></li>
							<li><a href="#">Hispanics Research</a></li>
						</ul>
					</li>
					<li><a href="#">Clients</a></li>
					<li class="has-drop">
						<a href="#">Research Tools</a>
						<ul class="drop-menu">
							<li><a href="#">Calculators</a></li>
							<li><a href="#">Survey Tool Review Central</a></li>
							<li><a href="#">Market Research Glossary</a></li>
						</ul>
					</li>
					<li><a href="#">Articles</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
			<div class="hidden-block">
				<a href="#" class="btn-login">
					<svg width="15" height="15" class="ico">
						<use xlink:href="assets/img/sprite-icons.svg#login" />
					</svg>
					<span>Login to Survey Tool Review Center</span>
				</a>
				<form action="#" class="search-form">
					<fieldset>
						<div class="input-form">
							<input type="search">
							<button class="btn-search">Search</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</header>